@tailwind base;
@tailwind components;
@tailwind utilities;

/* HEX Logo SatelitNET = #693CD2 */

@layer base {
  :root {
    --background: 258 100% 95%;
    --foreground: 258 5% 7%;
    --card: 258 50% 90%;
    --card-foreground: 258 5% 10%;
    --popover: 258 100% 95%;
    --popover-foreground: 258 100% 7%;
    --primary: 258 62.5% 52.9%;
    --primary-foreground: 0 0% 100%;
    --secondary: 258 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 220 30% 85%;
    --muted-foreground: 258 5% 35%;
    --accent: 220 30% 80%;
    --accent-foreground: 258 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 258 5% 90%;
    --border: 258 30% 50%;
    --input: 258 30% 18%;
    --ring: 258 62.5% 52.9%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 258 50% 7%;
    --foreground: 258 5% 90%;
    --card: 258 50% 7%;
    --card-foreground: 258 5% 90%;
    --popover: 258 50% 5%;
    --popover-foreground: 258 5% 90%;
    --primary: 258 62.5% 52.9%;
    --primary-foreground: 0 0% 100%;
    --secondary: 258 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 220 30% 15%;
    --muted-foreground: 258 5% 60%;
    --accent: 220 30% 15%;
    --accent-foreground: 258 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 258 5% 90%;
    --border: 258 30% 18%;
    --input: 258 30% 18%;
    --ring: 258 62.5% 52.9%;
    --radius: 0.5rem;
  }
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  .kasi-border-merah {
    @apply border-red-500 border;
  }

  .kasi-border-biru {
    @apply border-blue-500 border;
  }

  .text-main {
    @apply bg-clip-text text-transparent bg-gradient-to-br dark:bg-gradient-to-br from-primary to-foreground dark:from-foreground dark:to-primary bg-opacity-50;
  }

  /* * {
    @apply border-blue-500 border;
  } */
}
